{% extends "main/layout/layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="registration-forms-container bg-white text-center border">
            <h3>{% trans "Forgot Your Password?" %}</h3>
            <p>{% trans "Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you." %}</p>
            {% include "main/messages.html" %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">{% include 'main/form_field.html' with field=form.email %}</div>
                <input type="submit" class="btn btn-success btn-block font-weight-bold"
                       value="{% trans "Send Reset Email" %}">
            </form>
        </div>
    </div>
{% endblock %}