{% extends "main/layout/layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="registration-forms-container bg-white border">
            <p>
                {% trans "* We've emailed you instructions for setting your password. If an account exists with the email you entered. You should receive them shortly." %}
            </p>
            <p>
                {% trans "* If you don't receive an email, please make sure you've entered the email you registered with, and check your spam folder." %}
            </p>
        </div>
    </div>
{% endblock %}