{% extends "main/layout/layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="container result-container bg-white border">
        <div class="row">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="thumbnail ">
                            <img src="{% static '/img/noimg_profile.png' %}">
                        </div>
                        <div class="col-sm-12 pt-2">
                            {% if user.first_name %}
                                {{ user.get_full_name|default:'-' }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <form class="address-form" method="POST">
                    {% csrf_token %}
                    <div class="row pt-5">
                        <div class="col-3 bold">{% trans "Email Address" %}</div>
                        <div class=" col-8">
                            {{ request.user.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 bold">{% trans "First Name" %}</div>
                        <div class=" col-8">
                            {% include "main/form_field.html" with field=form.first_name %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 bold">{% trans "Last Name" %}</div>
                        <div class=" col-8">
                            {% include "main/form_field.html" with field=form.last_name %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 bold">{% trans "Gender" %}</div>
                        <div class=" col-8">
                            {% include "main/form_field.html" with field=form.gender %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 bold">{% trans "Phone Number" %}</div>
                        <div class=" col-8">
                            {% include "main/form_field.html" with field=form.phone_number  help_text=True %}
                        </div>
                    </div>
                    <hr>
                    <div class="row pb-3">
                        <div class="col-3 bold">{% trans "Address" %}</div>
                        <div class=" col-8">
                            {% include "main/form_field.html" with field=form.address %}
                        </div>
                    </div>
                    <div class="row text-center pb-3">
                        <div class="col-3 bold"></div>
                        <div class="col-md-3 col-sm-8 col-md-offset-6 col-sm-offset-4 col-xs-6">
                            <button type="submit"
                                    class="btn btn-block btn-primary  btn-font-fff-bold"
                                    data-loading-text="{% trans "Saving..." %}">{% trans "Save" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}